.container{
    height: 150px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

img{
    width: 19%;
    vertical-align: middle
}